body {
    overflow: hidden;
}

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.background {
    background: rgb(255,216,121);
    background: radial-gradient(circle, rgb(250, 227, 169) 0%, rgba(253,180,0,1) 100%); 
}

.icon-article {
    padding-top: 20px;
    width: 200px;
    justify-content: space-between;
    color: black;
    font-size: xx-large;
}

.icon-article i {
    cursor: pointer;
    color: black;
}

#spotify-iframe {
    width: 300px;
    height: 380px;
}

@media (max-width: 768px) {
    #spotify-iframe {
        width: 75vw;
        height: 700px;
        font-size: 1.5em;
    }

    img {
        width: 100vw;
    }

    .icon-article {
        width: 400px;
        padding-top: 40px;
        font-size: 4em;
    }

    .icon-article i {
        cursor: pointer;
        color: black;
    }
}