body {
    overflow-x: hidden;
}
footer {
  width: 99vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.background {
  background: #ffc501;
}

.icon-article {
  width: 300px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: xx-large;
  padding-bottom: 20px;
}

.icon-article i {
  cursor: pointer;
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
}

#main-section {
  height: 100vh;
}

#spotify-iframe {
  width: 300px;
  height: 80px;
}

@media (max-width: 768px) {
  #main-section {
    height: 85vh;
  }

  #spotify-iframe {
    width: 75vw;
    height: 80px;
    font-size: 1.5em;
  }

  #brand-logo {
    width: 300px;
    max-width: fit-content;
    height: auto;
  }

  .icon-article {
    width: 70vw;
    font-size: 4em;
  }

  .icon-article i {
    cursor: pointer;
    color: black;
  }
}
